# NATS Configuration
export NATS_HOST=127.0.0.1
export NATS_PORT=4222

# Load Test Configuration
export LOAD_TEST_DURATION=1m
export LOAD_TEST_CONCURRENCY=50
export LOAD_TEST_WARMUP=5s
export LOAD_TEST_REPORT_INTERVAL=5s
export LOAD_TEST_LOG_LEVEL=info
export LOAD_TEST_OUTPUT_PATH=./results/load-test-results.json
export LOAD_TEST_TAGS="env=dev,test=nats-publish"
export LOAD_TEST_TYPE=publish
export LOAD_TEST_SUBJECT=load.test
export LOAD_TEST_QUEUE_GROUP=
export LOAD_TEST_MESSAGE_SIZE=1024
